/* .home {
    display: flex;
    background-color: black;
    justify-content: space-between
}

.home-message {
    color: aqua;
    flex-grow: 1;
    margin: auto;
    padding-left: 1rem;
    font-family: "Gill Sans", sans-serif;


}

.home-image {
    height: 95vh;
    justify-content: flex-end;

} */